services:
  bazarr:
    image: lscr.io/linuxserver/bazarr:latest
    container_name: bazarr
    restart: always
    env_file:
      - ../../.env.common
    ports:
      - 6767:6767
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - ${VOLUME_ROOT}/bazarr/config:/config
      - ${MEDIA_ROOT}/movies:/movies
    networks:
      - homelab-network
