services:
  authelia:
    image: authelia/authelia:latest
    container_name: authelia
    restart: always
    env_file:
      - .env
    ports:
      - 9091:9091
    environment:
      - TZ=${TZ}
      - AUTHELIA_JWT_SECRET=${AUTHELIA_JWT_SECRET}
      - AUTHELIA_SESSION_SECRET=${AUTHELIA_SESSION_SECRET}
      - AUTHELIA_STORAGE_ENCRYPTION_KEY=${AUTHELIA_STORAGE_ENCRYPTION_KEY}
    volumes:
      - ${VOLUME_ROOT}/authelia/config:/config
    networks:
      - homelab-network
