services:
  adguardhome:
    image: adguard/adguardhome
    container_name: adguardhome
    restart: always
    network_mode: host
    volumes:
      - ${VOLUME_ROOT}/adguard/work:/opt/adguardhome/work
      - ${VOLUME_ROOT}/adguard/conf:/opt/adguardhome/conf
