services:
  watchtower:
    image: containrrr/watchtower
    container_name: watchtower
    restart: always
    env_file:
      - ../../.env.common
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - WATCHTOWER_CLEANUP=true
      - WATCHTOWER_POLL_INTERVAL=86400
      - TZ=${TZ}
    networks:
      - homelab-network
