services:
  glance:
    image: glanceapp/glance:latest
    container_name: glance
    restart: always
    ports:
      - 8081:8080
    environment:
      - TZ=${TZ}
    volumes:
      - ${VOLUME_ROOT}/glance/config:/app/config
    networks:
      - homelab-network
