services:
  jellyseerr:
    image: fallenbagel/jellyseerr:latest
    container_name: jellyseerr
    restart: always
    env_file:
      - ../../.env.common
    ports:
      - 5055:5055
    environment:
      - LOG_LEVEL=debug
      - TZ=${TZ}
    volumes:
      - ${VOLUME_ROOT}/jellyseerr/config:/app/config
    networks:
      - homelab-network
