services:
  immich-server:
    container_name: immich_server
    image: ghcr.io/immich-app/immich-server:release
    volumes:
      - ${EXTERNAL_SSD}/data/photos:/usr/src/app/upload
      - /etc/localtime:/etc/localtime:ro
    env_file:
      - .env
    ports:
      - 2283:2283
    depends_on:
      - redis
      - database
    restart: always
    networks:
      - homelab-network

  immich-machine-learning:
    container_name: immich_machine_learning
    image: ghcr.io/immich-app/immich-machine-learning:release
    volumes:
      - ${VOLUME_ROOT}/immich/model-cache:/cache
    env_file:
      - .env
    restart: always
    networks:
      - homelab-network

  redis:
    container_name: immich_redis
    image: redis:6.2-alpine
    restart: always
    networks:
      - homelab-network

  database:
    container_name: immich_postgres
    image: tensorchord/pgvecto-rs:pg14-v0.2.0
    environment:
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_USER=${DB_USERNAME}
      - POSTGRES_DB=${DB_DATABASE_NAME}
    volumes:
      - ${VOLUME_ROOT}/immich/postgres:/var/lib/postgresql/data
    restart: always
    networks:
      - homelab-network
