services:
  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: qbittorrent-vpn
    restart: always
    env_file:
      - ../../.env.common
    network_mode: "container:gluetun"  # Routes traffic through Gluetun
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      - WEBUI_PORT=8080
    volumes:
      - ${VOLUME_ROOT}/qbittorrent/config:/config
      - ${DATA_ROOT}:/data
    depends_on:
      - gluetun
