services:
  flaresolverr:
    image: ghcr.io/flaresolverr/flaresolverr:latest
    container_name: flaresolverr
    restart: always
    env_file:
      - ../../.env.common
    ports:
      - 8191:8191
    environment:
      - LOG_LEVEL=info
      - TZ=${TZ}
    networks:
      - homelab-network
