services:
  gluetun:
    image: qmcgaw/gluetun
    container_name: gluetun
    restart: always
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    ports:
      - 8085:8080       # qBittorrent Web UI
      - 6881:6881       # qBittorrent TCP
      - 6881:6881/udp   # qBittorrent UDP
    environment:
      - VPN_SERVICE_PROVIDER=${VPN_SERVICE_PROVIDER}
      - VPN_TYPE=${VPN_TYPE}
      - WIREGUARD_PRIVATE_KEY=${VPN_WIREGUARD_PRIVATE_KEY}
      - WIREGUARD_ADDRESSES=${VPN_WIREGUARD_ADDRESSES}
      - WIREGUARD_PRESHARED_KEY=${VPN_WIREGUARD_PRESHARED_KEY}
      - SERVER_COUNTRIES=${VPN_SERVER_COUNTRIES}
      - TZ=${TZ}
    networks:
      - vpn-network
